
.header{

  
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
  padding-left: 4%;
  position: relative;
  margin-left: 10em;
  top: -2em;

  
}

.table{
 
  background-color: rgb(47, 64, 94);
  color: white;
  height: 100vh;
}

.sidebtns{
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-left:3em ;

}

.InfoText{
 display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    background: #f1f1f1;
    color: black;
    top: -4em;
    padding-left: 1em;
 

}

.middlecontent{
  width: 99.1vw;
}
.divider{
  background-image: linear-gradient(to left, rgb(61, 145, 224),rgb(30, 204, 181));
}
.icon{
  width: 100px;
  height: 100px;

}


