
.header{

  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
  padding-left: 20%;
  

  
}

.table{
 
  background-color: rgb(47, 64, 94);
  color: white;
  height: 100vh;
}

.sidebtns{
  display: flex;
  flex-direction: row;
  gap: 1em;

}

.InfoText{
 display: flex;
 flex-direction: row;
 align-content: center;
 justify-content: center;
 background: #2f405e;
 color: white;

 top: 0;
 

}

.middlecontent{
  width: 99.1vw;
}
.divider{
  background-image: linear-gradient(to left, rgb(61, 145, 224),rgb(30, 204, 181));
}



